<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> such portal</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/admin/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/static/css/bootstrap.min.responsive.css">
  <link rel="stylesheet" href="/admin/static/css/chosen.css">
  <link rel="stylesheet" href="/admin/static/css/datepicker.css">
  <link rel="stylesheet" href="/admin/static/css/admin.css">

  <script src="/admin/static/js/jquery.min.js"></script>
  <script src="/admin/static/js/bootstrap.min.js"></script>
  <script src="/admin/static/js/bootstrap-datepicker.js"></script>
  <script src="/admin/static/js/chosen.jquery.min.js"></script>
  <script src="/admin/static/js/ajax-chosen.min.js"></script>
  <script src="/admin/static/js/admin.js"></script>

  
</head>
	<body> 
		<h1> </h1>
	</body>


</html>